version: '3'

services:
  selenium:
    container_name: remote_chromedriver
    image: selenium/standalone-chromium
    environment:
      - OTEL_SDK_DISABLED=true
      - SE_NODE_MAX_SESSIONS=1
      - SE_NODE_OVERRIDE_MAX_SESSIONS=true
    ports:
      - 4444:4444
    restart: always
    networks:
      - selenium-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    labels:
      - traefik.enable=true
      - "traefik.http.routers.<unique_router_name>.rule=Host(`coolify.io`) && PathPrefix(`/`)"
      - traefik.http.routers.<unique_router_name>.entryPoints=http
    environment:
      - VITE_BACKEND_URL=${VITE_BACKEND_URL:-http://localhost:5001}
    #ports:
      #- "5173:5173"  #uncomment this to run locally, keep commented out if deploying to server (no idea why lowkey)
    depends_on:
      - backend
    networks:
      - selenium-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - SELENIUM_LOCATION=${SELENIUM_LOCATION:-remote_chromedriver}
      - API_KEY=${API_KEY}
      - API_URL_1=${API_URL_1}
      - API_URL_2=${API_URL_2}
      - API_URL_3=${API_URL_3}
    env_file:
      - ./backend/.env
    ports:
      - "5001:5001"
    networks:
      - selenium-network 

networks:
  selenium-network:
    driver: bridge
