version: '3'

services:
  selenium:
    container_name: remote_chromedriver
    image: selenium/standalone-chromium
    environment:
      - OTEL_SDK_DISABLED=true
      - SE_NODE_MAX_SESSIONS=1
      - SE_NODE_OVERRIDE_MAX_SESSIONS=true
    ports:
      - 4444:4444
    restart: always
    networks:
      - selenium-network

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - selenium-network

  backend:
    env_file:
      - .env
    environment:
      - API_KEY=${API_KEY}
      - API_URL_1=${API_URL_1}
    build: ./backend
    ports:
      - "5001:5001"
    volumes:
      - ./backend:/app
    networks:
      - selenium-network 

networks:
  selenium-network:
    driver: bridge
