version: '3'

services:
  selenium:
    container_name: remote_chromedriver
    image: selenium/standalone-chromium
    environment:
      - OTEL_SDK_DISABLED=true
      - SE_NODE_MAX_SESSIONS=1
      - SE_NODE_OVERRIDE_MAX_SESSIONS=true
    ports:
      - 4444:4444
    restart: always
    networks:
      - lifeforce-v2
      - selenium-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    labels:
      - traefik.enable=true
      - "traefik.http.routers.<unique_router_name>.rule=Host(`coolify.io`) && PathPrefix(`/`)"
      - traefik.http.routers.<unique_router_name>.entryPoints=http
    depends_on:
      - backend
    networks:
      - lifeforce-v2
      - selenium-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - API_KEY=${API_KEY}
      - API_URL_1=${API_URL_1}
    ports:
      - "5001:5001"
    networks:
      - lifeforce-v2
      - selenium-network 

networks:
  selenium-network:
    driver: bridge
